dataset/
backup/
*.asv
.vscode/
ClassificationLearnerSessions/
test/

# Ignore specific files in out directory
out/*

# Ignore entry tables for personajes (Peter Griffin)
out/personajes/Peter Griffin/T_entradas*.mat

# Ignore entry tables for series  
out/series/T_entradas*.mat

# Allow these specific files and directories
!out/personajes/
!out/personajes/Peter Griffin/
!out/personajes/Peter Griffin/T_caracteristicas_*.mat
!out/series/
!out/series/T_caracteristicas_*.mat
